/* Definindo variáveis */
:root {
    --cor-background: #1a5e1d;
    --cor-letras-pequenas: #f7f7f7;
    --cor-titulos: #3254bf;
    --cor-barra-fundo: #5444bf
    --cor-barra:#8569ad
  }
  
  /* Utilizando as variáveis */
  body {
    font-size: var(--tamanho-fonte);
  }
  
  .header {
    background-color: var(--cor-primaria);
  }
  
  .footer {
    background-color: var(--cor-secundaria);
  }
  

  bg_color=1a5e1d
  title_color=f7f7f7